main div {
    background: rgb(237,238,240);
  }
ul a {
    text-decoration: none;
    margin: 3px;
    padding: 2px;
    border-bottom: 1px dashed #000080;
}

ul a:visited {
    color: cornflowerblue;
}

ul a:hover {
    color: chartreuse;
}

li {
    display: inline;
    margin-left: 1px;
    padding-left: 1px;
}
