.main div {
    margin: 4px;
    background: rgb(237,238,240);
  }
nav a {
    text-decoration: none;
    margin: 3px;
    padding: 2px;
    border-bottom: 1px dashed #000080;
}

nav a:visited {
    color: cornflowerblue;
}

nav a:hover {
    color: chartreuse;
    text-decoration: underline;
}
