nav a {
    text-decoration: none;
    margin: 1px;
    padding: 1px;
    border-bottom: 1px dashed #000080;
}

nav a:visited {
    color: cornflowerblue;
}

nav a:hover {
    color: chartreuse;
}

nav a:not(:last-child):after {
    content: "|";
}

::after {
    margin: 0 7px;
    color: cornflowerblue;
}

nav {
    display: flex;
    justify-content: center;
}
