.address {
    grid-template-columns: 2fr 1fr 1fr;
    position: relative;
    z-index: 5;
}

.picture2 {
    background-image: url("../images/2.jpg");
    background-size: cover;
    background-position-x: -140px;
}

.address .box__text_subtitle {
    margin-bottom: 30px;
}

.grey {
    color: var(--color-font-menu);
}

.address a {
    display: block;
    font-size: var(--font-small);
    color: var(--color-background-page-7);
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .picture2 {
        display: none;
    }

    .address {
        grid-template-columns: 1fr 1fr;
    }
}