.text-headnote__button,
.box__button {
    font-size: var(--font-small);
    color: var(--color-font-button);
    border-radius: 33px;
}

.text-headnote__button {
    font-weight: bold;
    border: 3px solid var(--color-font-button);
    background: var(--color-background-introdution);
    width: 200px;
    padding: 20px 0;
    margin-top: 40px;
}

.box__button {
    margin: 15px 0 0 10px;
    padding: 15px 90px;
    background: var(--color-page-3-white);
    outline: none;
    border: none;
}

.box__input {
    display: block;
    outline: none;
    border: none;
    background: var(--color-background-page-5);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-background-page-3);
    color: var(--color-page-3-white);
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.box__input::placeholder {
    color: var(--color-page-3-white);
    font-size: var(--font-small);
}

.box__button:hover,
.text-headnote__button:hover {
    filter: brightness(75%);
}