.footer .box__text_describe {
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
}

.flash::after {
    content: "|";
    margin: 0 3px;
}

.nav-footer {
    display: block;
    text-align: center;
    padding: 0;
}

.nav-footer__segment {
    display: inline-block;
    text-decoration: none;
    color: var(--color-font-grey-welcome);
    font-size: var(--font-middle);
    margin: 15px 5px;
}

.nav-footer__segment:hover {
    color: var(--color-font-menu-hover);
}

.link {
    color: var(--color-font-menu-hover);
    margin-left: 5px;
}