.header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(820px, auto);
}

.header-title {
    background-image: url("../images/5.jpg");
    background-size: cover;
    background-position-x: -275px;
}

.header-title__signboard {
    display: inline-block;
    color: var(--color-font-stimulus);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px var(--color-page-3-white);
    margin-left: 160px;
}

.headnote {
    display: grid;
    grid-template-rows: 1fr;
    background: var(--color-background-introdution);
}

.text-headnote {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-headnote__title {
    font-size: var(--font-large);
    color: var(--color-font-button);
    margin: 30px 0;
}

.text-headnote__subtitle {
    color: var(--color-font-grey-welcome);
    font-size: var(--font-small);
    text-transform: uppercase;
}

.text-headnote__describe {
    font-size: var(--font-small);
    color: var(--color-font-grey-welcome);
}

.hello {
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .header-title {
        background-position-x: -500px;
    }
}

@media screen and (max-width: 768px) {
    .header-title {
        display: none;
    }

    .header {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(600px, auto);
    }
}

