body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
}

.row {
    width: 1480px;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
}

.box {
    padding: 40px;
    color: var(--color-page-3-white);
}

@media screen and (max-width: 1480px) {
    .row {
        width: 1350px;
    }
}

@media screen and (max-width: 1366px) {
    .row {
        width: 1270px;
    }

    .box {
        padding: 22px;
    }
}

@media screen and (max-width: 1280px) {
    .row {
        width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .row {
        width: 768px;
    }

    .box {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .row {
        width: 640px;
    }
}

@media screen and (max-width: 640px) {
    .row {
        width: 480px;
    }
}

@media screen and (max-width: 480px) {
    .row {
        width: 100%;
    }
}