body {
    width: 1480px;
    font-family: OpenSans Arial SansSerif;
}

.layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-auto-rows: minmax(100px, auto);
}

.footer {
    grid-column: 1/5;
    grid-row: 8/9;
    background: var(--color-page-3-white);
}