.page-3 {
    background: var(--color-background-page-3);
}

.text__caption_white {
    color: var(--color-page-3-white);
}

.page-3-white {
    color: var(--color-page-3-white);
    border-bottom: 1px solid var(--color-page-3-white);
}

.page-3-black {
    color: var(--color-page-3-black);
    font-weight: bold;
    border-bottom: 1px solid var(--color-page-3-black);
}

.text__caption_white,
.page-3-white,
.page-3-black {
    display: inline-block;
    margin-top: 5px;
    padding-bottom: 5px;
}

.container-1,
.container-2,
.container-3 {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.percent-90 {
    flex-basis: 90%;
}

.percent-10 {
    flex-basis: 10%;
}

.percent-70 {
    flex-basis: 70%;
}

.percent-30 {
    flex-basis: 30%;
}

.percent-30::after {
    content: "70%";
    margin-left: 63px;
}

.percent-80 {
    flex-basis: 80%;
}

.percent-20 {
    flex-basis: 20%;
}

.percent-20::after {
    content: "80%";
    margin-left: 43px;
}
