.page-9 {
    grid-column: 3/5;
    grid-row: 4/5;
    background: var(--color-background-page-5);
}

.page-9-content {
    margin: 50px 0 50px 50px;
    color: var(--color-page-3-white);
}

.page-9-content__text_large {
    font-size: 35px;
    margin-bottom: 25px;
}

.page-9-content__text {
    margin-bottom: 40px;
}

.page-9-content-box {
    display: flex;
    flex-wrap: wrap;
}

.page-9-content-box__text {
    display: inline-block;
    font-size: 20px;
}

.page-9-content-box__icon {
    display: inline-block;
    font-size: 25px;
    margin-right: 20px;
    padding-top: 2px;
}

.page-9-content-box__describe {
    margin: 0 0 30px 50px;
}

.data {
    color: var(--color-background-page-6);
    font-size: 13px;
    font-weight: bold;
}

.page-10 {
    grid-column: 1/3;
    grid-row: 5/6;
    background: var(--color-background-page-3);
}

.page-11 {
    grid-column: 3/5;
    grid-row: 5/6;
    background-image: url("../images/3.jpg");
    background-position-x: -140px;
    background-position-y: -160px;
}

.page-12 {
    grid-column: 1/5;
    grid-row: 6/7;
    color: var(--color-page-3-white);
    position: relative;
    z-index: 5;
}

.page-12-bg {
    position: absolute;
    background-image: url("../images/6.jpg");
    background-size: cover;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(30%);
    width: 100%;
    height: 100%;
}

.page-12-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-12-content__icon {
    font-family: Awesome Arial SansSerif;
    font-size: 35px;
    margin: 130px 0 35px 0;
}

.page-12-content__text_large {
    font-size: 35px;
    margin-bottom: 10px;
}

.page-12-content__text {
    margin-top: 30px;
    margin-bottom: 120px;
}

.page-14 {
    grid-column: 3/4;
    grid-row: 7/8;
    background-image: url("../images/2.jpg");
    background-size: cover;
    background-position-x: -350px;
}

