.result {
    grid-template-columns: 1fr;
    position: relative;
    z-index: 5;
}

.result .box {
    text-align: center;
}

.result .box::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: brightness(30%);
    background-image: url("../images/6.jpg");
    background-size: cover;
    z-index: -1;
}

@media screen and (max-width: 480px) {
    .result {
        display: none;
    }
}