body {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 250px;
    width: 1200px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.signboard {
    width: 370px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #ffffff;
    z-index: 1;
    font-size: 35px;
    font-style: italic;
    padding: 4px;
}

.inner {
    width: 350px;
    height: 80px;
    border: 2.5px solid;
    padding: 0;

}

.sotial-icon {
    transform: rotate(-1.5grad);
    height: 300px;
    width: 1350px;
}

.sotial {
    display: inline-block;
    background: url("../image/spice-social-gadget-sprite.png") no-repeat;
    background-size: 1100% 300%;
    width:45px;
    height: 45px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.icon1,
.icon12,
.icon23,
.icon34,
.icon45,
.icon56,
.icon67,
.icon78,
.icon89 {
    background-position: 0 50%;
}
.icon2,
.icon13,
.icon24,
.icon35,
.icon46,
.icon57,
.icon68,
.icon79,
.icon90 {
    background-position: 10% 50%;
}

.icon3,
.icon14,
.icon25,
.icon36,
.icon47,
.icon58,
.icon69,
.icon80,
.icon91 {
    background-position: 20% 50%;
}

.icon4,
.icon15,
.icon26,
.icon37,
.icon48,
.icon59,
.icon70,
.icon81,
.icon92  {
    background-position: 30% 50%;
}

.icon5,
.icon16,
.icon27,
.icon38,
.icon49,
.icon60,
.icon71,
.icon82,
.icon93  {
    background-position: 40% 50%;
}

.icon6,
.icon17,
.icon28,
.icon39,
.icon50,
.icon61,
.icon72,
.icon83,
.icon94  {
    background-position: 50% 50%;
}

.icon7,
.icon18,
.icon29,
.icon40,
.icon51,
.icon62,
.icon73,
.icon84,
.icon95  {
    background-position: 60% 50%;
}

.icon8,
.icon19,
.icon30,
.icon41,
.icon52,
.icon63,
.icon74,
.icon85 {
    background-position: 70% 50%;
}

.icon9,
.icon20,
.icon31,
.icon42,
.icon53,
.icon64,
.icon75,
.icon86 {
    background-position: 80% 50%;
}

.icon10,
.icon21,
.icon32,
.icon43,
.icon54,
.icon65,
.icon76,
.icon87 {
    background-position: 90% 50%;
}

.icon11,
.icon22,
.icon33,
.icon44,
.icon55,
.icon66,
.icon77,
.icon88 {
    background-position: 100% 50%;
}

.group {
    display: flex;
    justify-content: space-between;
}

