.ts6-field {
    display: flex;
    align-items: flex-end;
    font-size: 10px;
}

.ts6-field__button {
    border: 0;
    padding: 0;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    margin: 0 5px 8px 0;
    cursor: pointer;
    outline: none;
}

.ts6-field__button:hover {
    filter: brightness(75%);
}

.ts6-button_small {
    padding: 5px;
    font-size: 1em;
}

.ts6-button_middle {
    padding: 8px;
    font-size: 1.2em;
}

.ts6-button_large {
    padding: 10px;
    font-size: 2.7em;
    background: var(--background-color-pink);
}

.ts6-button_green {
    background: #18a63d;
}

.ts6-button_blue {
    background: #3f90bf;
}

.ts6-button_red {
    background: #ff3333;
}

.ts6-button_orange {
    background: #fc9b00;
}

.ts6-button_yellow {
    background: #feea00;
}

.ts6-dark {
    background: #393932;
}

:root {
    --background-color-pink: #f06eaa;
}