.layout {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #beb0b0;
}

body {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 250px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signboard {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #ffffff;
    z-index: 1;
    font-size: 35px;
    font-style: italic;
    padding: 36px 64px;
}

.signboard::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #ffffff;
    border: 3px solid black;
    padding: 11% 47%;
}

.social {
    transform: rotate(-1.7grad);
    height: 300px;
    width: 1350px;
}

.icon {
    background: url("../image/spice-social-gadget-sprite.png") no-repeat;
    background-size: 1100% 300%;
    width: 45px;
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    background-position-y: 50%;
}

.icon_1 {
    background-position-x: 0;
}

.icon_2 {
    background-position-x: 10%;
}

.icon_3 {
    background-position-x: 20%;
}

.icon_4 {
    background-position-x: 30%;
}

.icon_5 {
    background-position-x: 40%;
}

.icon_6 {
    background-position-x: 50%;
}

.icon_7 {
    background-position-x: 60%;
}

.icon_8 {
    background-position-x: 70%;
}

.icon_9 {
    background-position-x: 80%;
}

.icon_10 {
    background-position-x: 90%;
}

.icon_11 {
    background-position-x: 100%;
}

.social__icon {
    display: flex;
    justify-content: space-between;
}

